apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    url: http://tempo:3200
    basicAuth: false
    access: proxy
    readOnly: false
    isDefault: true
    jsonData:
      tracesToLogs:
        datasourceUid: 'loki'
      tracesToMetrics:
        datasourceUid: 'prometheus'
      serviceMap:
        datasourceUid: 'prometheus'
      nodeGraph:
        enabled: true
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    jsonData:
      timeout: 60
      maxLines: 1000
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    jsonData:
      timeInterval: 100ms
