# Also load things from .env for developer-specific environment variables.
dotenv_if_exists

# This adds the .bin/ folder into the path so you can call commands like bxl
# directly from the root of the si repo. Purely for developer convenience.
PATH_add .bin

# Use the default devShell from the flake.nix
use flake .
