# Add Tokio unstable `--cfg` options when compiling Rust code.
#
# Setting this in an environment variable ensures that all `cargo` and
# `rust-analyzer` commands gets this value.
#
# See: https://doc.rust-lang.org/cargo/reference/environment-variables.html
case "$(uname -s)" in
  Linux)
    export RUSTFLAGS="--cfg tokio_taskdump --cfg tokio_unstable"
    ;;
  *)
    export RUSTFLAGS="--cfg tokio_unstable"
    ;;
esac

# Also load things from .env for developer-specific environment variables.
dotenv_if_exists

# This adds the .bin/ folder into the path so you can call commands like bxl
# directly from the root of the si repo. Purely for developer convenience.
PATH_add .bin

# Use the default devShell from the flake.nix
use flake .
