tags
.DS_Store
node_modules
.vagrant
.idea
.vscode
target
kubeconfig.yml
vendor/automerge
*.ignore
/.env
/support/dev/k8s/**/*.env
/support/dev/k8s/**/dockerconfig.json
/support/dev/k8s/**/web-htpasswd
/tmp/
deploy/docker-compose.env.yml
app/web/cypress/downloads/
app/web/cypress/screenshots/
app/web/cypress/videos/
bin/si/src/version.txt

bin/si-luminork-api-tests/.env

app/docs/src/.vitepress/cache/
app/docs/dist/

generated-sdks/typescript/dist/

bin/lang-js/docs/

.turbo
.netlify
CLAUDE.md

# vim temp files
.*.swp
.*.swo
.vim

.env.local
.envrc.local

# Local Netlify folder
.netlify

sdk-venv/
.pytest_cache/
__pycache__

# Buck
/buck-out/

# Nix builds
/result

# direnv
.direnv

# toolbox
component/toolbox/results/

# fuse filesystem
/mnt/

**/CLAUDE.local.md

# Bedrock Recordings
**/recordings/