tags
.DS_Store
node_modules
.vagrant
.idea
.vscode
target
kubeconfig.yml
vendor/automerge
*.ignore
/.env
/support/dev/k8s/**/*.env
/support/dev/k8s/**/dockerconfig.json
/support/dev/k8s/**/web-htpasswd
/tmp/
deploy/docker-compose.env.yml
app/web/cypress/downloads/
app/web/cypress/screenshots/
app/web/cypress/videos/
bin/si/src/version.txt
prelude

.turbo
.netlify

# vim temp files
.*.swp
.*.swo
.vim

.env.local
# Local Netlify folder
.netlify

# Buck
/buck-out/

# Nix builds
/result

# direnv
.direnv
