Adam Jacob <adam@systeminit.com> <adam@stalecoffee.org>
Adam Jacob <adam@systeminit.com> Adam Jacob <adam@chef.org>
Adam Jacob <adam@systeminit.com> Adam Jacob <adam@chef.io>
Paulo Cabral Sanz <paulo@systeminit.com> <paulosanz@poli.ufrj.br>
Paulo Cabral Sanz <paulo@systeminit.com> Paulo Cabral <paulo@systeminit.com>
Paulo Cabral Sanz <paulo@systeminit.com> = <paulo@systeminit.com>
Jacob Helwig <jacob@systeminit.com> <jacob@technosorcery.net>
Wendy Bujalski <wendy@systeminit.com> <wendydbujalski@gmail.com>
Wendy Bujalski <wendy@systeminit.com>  wendybujalski <wendydbujalski@gmail.com>
Wendy Bujalski <wendy@systeminit.com>  wendybujalski <wendy@systeminit.com>
Alex Ethier <alex@systeminit.com> <51493434+alex-init@users.noreply.github.com>
Alex Ethier <alex@systeminit.com> <alex@tower3.io>
Nick Gerace <nick@systeminit.com> <nickagerace@gmail.com>
Victor Bustamante <victor@systeminit.com> <victorbustamante12@gmail.com>
Zachary Hamm <zack@systeminit.com> <zsh@imipolexg.org>
Paul Stack <paul@systeminit.com> stack72 <public@paulstack.co.uk>
Fletcher Nichol <fletcher@systeminit.com> <fnichol@nichol.ca>
