# https://pnpm.io/next/npmrc#strict-peer-dependencies
strict-peer-dependencies=true
# https://pnpm.io/npmrc#auto-install-peers
auto-install-peers=false
# https://pnpm.io/npmrc#dedupe-peer-dependents
# See: https://github.com/pnpm/pnpm/issues/6295#issuecomment-1521686601
dedupe-peer-dependents=false
