[profile.release]
debug = true

[workspace]
members = [
  "components/si-sdf",
  "components/si-settings",
  "components/si-data",
  "components/si-model",
  "components/si-model-test",
  "components/si-hovertank",
]
