server:
  http_listen_port: 9080
  grpc_listen_port: 0
  log_level: debug

clients:
  - url: http://loki:3100/loki/api/v1/push

positions:
  filename: /tmp/positions.yaml

scrape_configs:
  - job_name: system
    static_configs:
      - targets:
          - localhost
        labels:
          job: veritech
          __path__: /logs/veritech
      - targets:
          - localhost
        labels:
          job: sdf
          __path__: /logs/sdf
      - targets:
          - localhost
        labels:
          job: pinga
          __path__: /logs/pinga
      - targets:
          - localhost
        labels:
          job: rebaser
          __path__: /logs/rebaser
      - targets:
          - localhost
        labels:
          job: forklift
          __path__: /logs/forklift
      - targets:
          - localhost
        labels:
          job: edda
          __path__: /logs/edda
