# vendored-date: 2023-05-01
# project: https://github.com/facebook/buck2
# commit-hash: 9080cce1b8588afc08e5c9d53d22c652f7567ecf
# commit-date: 2022-12-01T03:10:27-0800
# source: https://github.com/facebook/buck2/blob/9080cce1b8588afc08e5c9d53d22c652f7567ecf/shim/third-party/rust/fixups/winapi-x86_64-pc-windows-gnu/fixups.toml

buildscript = []

[[platform_fixup.'cfg(target_os = "windows")'.buildscript]]
[platform_fixup.'cfg(target_os = "windows")'.buildscript.prebuilt_cxx_library]
name = "extra_libraries"
# The static_libs this crate provides overlaps quite heavily with those in a default
# MinGW install, and there are also many that are DirectX specific.
# We list only those we actually need, since the others are more likely to cause problems.
static_libs = ["lib/libwinapi_ole32.a", "lib/libwinapi_shell32.a"]
