/*node size and color*/

.arity-one {
  /* color: #DBDBDB; */
  /* border-color: #DBDBDB; */
  background-color: #282e30;
  border-color: #008ed2;
  /* border: none; */
}

.arity-many {
  /* color: #EBEDBE; */
  /* border-color: #EBEDBE; */
  background-color: #004c70;
  border-color: #008ed2;
  /* border: none; */
}
.node-name {
  font-size: 10px;
  color: #ededed;
  font-weight: 500;
}

.socket-name {
  margin-left: 1px;
  font-size: 9px;
  /* color: #DBDBDB; */
}

.status-bar {
  height: 3px;
}

.qualification-content {
  height: 14px;
  width: 14px;
  margin-left: 2px;
  background-color: #282e30;
  border-radius: 2px 2px 2px 2px;
}

.qualification-icon {
  padding-right: 1px;
}

.title-bar-empty-space {
  height: 14px;
  width: 14px;
}

.diff-count-content {
  height: 14px;
  width: 14px;
  background-color: #282e30;
  margin-right: 2px;
}

.diff-count-text {
  color: #ce7f3e;
  padding-right: 0.5px;
  font-size: 0.5em;
}

.node-container {
  width: 140px;
  min-height: 100px;
  background-color: #282e30;
  border-radius: 4px 4px 4px 4px;
  border-width: 1px;
  border-color: transparent;
}

.node-title-bar {
  border-radius: 4px 4px 0px 0px;
}

.title-bar-content {
  padding-top: 4px;
  padding-bottom: 2px;
}

.node-concept {
  background-color: #008e8e;
}

.node-implementation {
  background-color: #aa11ff;
}

.node-concrete {
  background-color: #008ed2;
}

.node-service {
  /* background-color: #00C5D2; */
  background-color: #00b0bc;
}

.socket-service {
  background-color: #00b0bc;
  border-color: #00d6e4;
}

.node-kubernetes-cluster {
  background-color: #80c037;
}

.socket-kubernetes-cluster {
  background-color: #80c037;
  border-color: #99e642;
}

.node-cloud-provider {
  background-color: #ed6800;
}

.socket-cloud-provider {
  background-color: #ed6800;
  border-color: #ff7000;
}

.node-component-k8s {
  background-color: #921ed6;
}

.socket-component-k8s {
  background-color: #921ed6;
  border-color: #c664ff;
}

.node-component-aws {
  /* background-color: #D6C51E; */
  background-color: #c0b011;
}

.socket-component-aws {
  background-color: #c0b011;
  border-color: #ffea17;
}

.node-component-az {
  /* background-color: #1ED6A3; */
  background-color: #18b08d;
}

.socket-component-az {
  background-color: #18b08d;
  border-color: #20eebf;
}

.node-component-docker {
  background-color: #1e88d6;
}

.socket-component-docker {
  background-color: #1e88d6;
  border-color: #7ac7ff;
}

.node-implementation {
  background-color: #d61e8c;
}

.socket-implementations {
  background-color: #d61e8c;
  border-color: #f873c2;
}

.node-details {
  background-color: #282e30;
}

.node-disabled {
  filter: brightness(50%) saturate(50%);
}

.socket-input {
  display: block;
  height: 12px;
  width: 12px;
  /* background-color: #282e30; */
  border-radius: 50%;
  border-width: 1px;
  /* border-color: #008ed2; */
  position: absolute;
  top: 0px;
  left: 62px;
  margin-top: -6px;
}

.socket-input-vertical {
  display: block;
  height: 12px;
  width: 12px;
  /* background-color: #282e30; */
  /* background-color: red; */
  border-radius: 50%;
  border-width: 1px;
  /* border-color: #008ed2; */
  position: absolute;
  top: 0px;
  left: 62px;
  margin-top: -6px;
}

.socket-input-horizontal {
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border-width: 1px;
  position: absolute;
  left: -6px;
}

.socket-output {
  display: block;
  height: 12px;
  width: 12px;
  /* background-color: #282e30; */
  /* background-color: #004C70; */
  border-radius: 50%;
  border-width: 1px;
  /* border-color: #008ed2; */

  position: absolute;
  bottom: 0px;
  left: 62px;
  margin-bottom: -6px;
}

.socket-output-vertical {
  display: block;
  height: 12px;
  width: 12px;
  /* background-color: #282e30; */
  /* background-color: #004C70; */
  border-radius: 50%;
  border-width: 1px;
  /* border-color: #008ed2; */
  position: absolute;
  bottom: 0px;
  left: 62px;
  margin-bottom: -6px;
}

.socket-output-horizontal {
  display: block;
  height: 12px;
  width: 12px;
  /* background-color: #282e30; */
  /* background-color: #004C70; */
  border-radius: 50%;
  border-width: 1px;
  /* border-color: #008ed2; */
  position: absolute;
  top: 54px;
  left: 132px;
  margin-bottom: -6px;
}

.node-is-selected {
  border-radius: 6px;
  border-width: 1px;
  border-color: #b7d2d4;
  z-index: 40;
}

.node-is-selected-deployment {
  border-radius: 6px;
  border-width: 1px;
  border-color: #b7d2d4;
  z-index: 40;
}

.node-is-deleted {
  border-radius: 6px;
  border-width: 1px;
  border-color: #e21010;
}

.node-is-hidden {
  display: none;
}

.ok {
  color: #86f0ad;
}

.warning {
  color: #f0d286;
}

.error {
  color: #f08686;
}

.unknown {
  color: #bbbbbb;
}

.running {
  color: #69bef0;
}

.ok-fill {
  background-color: #86f0ad;
}

.warning-fill {
  background-color: #f0d286;
}

.error-fill {
  background-color: #f08686;
}

.unknown-fill {
  background-color: #bbbbbb;
}

.running-fill {
  background-color: #69bef0;
}

.running-animation {
  animation: pulse 0.5s cubic-bezier(0, 0.19, 0.25, 1.01) infinite;
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
