version: "3"

services:
  sdf:
    image: "fedora:latest"
    volumes:
      - "${REPOPATH:-..}/target/debug/sdf:/usr/local/bin/sdf"
      - "${REPOPATH:-..}/bin/sdf/src/dev.jwt_secret_key.bin:/run/sdf/jwt_secret_key.bin:ro"
      - "${REPOPATH:-..}/lib/cyclone/src/dev.public_key.pub:/run/sdf/cyclone_public_key.pub:ro"
    entrypoint:
      - "/usr/local/bin/sdf"

  veritech:
    image: "fedora:latest"
    volumes:
      - "${REPOPATH:-..}/target/debug/veritech:/usr/local/bin/veritech"
      - "${REPOPATH:-..}/target/debug/cyclone:/usr/local/bin/cyclone"
      - "${REPOPATH:-..}/lib/cyclone/src/dev.secret_key.bin:/run/veritech/secret_key.bin:ro"
      - "${REPOPATH:-..}/lib/cyclone/src/dev.public_key.pub:/run/veritech/public_key.pub:ro"
      - "${REPOPATH:-..}/bin/lang-js/target/lang-js:/usr/local/bin/lang-js"
    entrypoint:
      - "/usr/local/bin/veritech"

  web:
    image: "nginx:1.21.4-alpine"
    # NOTE(nick): "dist" is a directory and the other mounts are files. This might help when debugging permissions errors
    # SELinux, volume mounts, etc.
    volumes:
      - "${REPOPATH:-..}/app/web/dist:/usr/share/nginx/html"
      - "${REPOPATH:-..}/app/web/nginx.conf:/etc/nginx/conf.d/default.conf"
      - "${REPOPATH:-..}/app/web/nginx/dhparam.pem:/etc/ssl/certs/dhparam.pem"
      - "${REPOPATH:-..}/app/web/nginx/nginx-selfsigned.crt:/etc/ssl/certs/nginx-selfsigned.crt"
      - "${REPOPATH:-..}/app/web/nginx/nginx-selfsigned.key:/etc/ssl/certs/nginx-selfsigned.key"
      - "${REPOPATH:-..}/app/web/htpasswd:/htpasswd"
