version: "3"

# NOTE(nick): "depends_on" will start parent containers when using docker-compose run, so we should
# try to only use it when necessary.

services:
  web:
    image: "index.docker.io/systeminit/web:stable"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    ports:
      - "443:443"
    depends_on:
      - watchtower
    restart: "unless-stopped"

  sdf:
    image: "index.docker.io/systeminit/sdf:stable"
    ports:
      - "5156:5156"
    environment:
      - "SI_SDF__PG__HOSTNAME=postgres"
      - "SI_SDF__NATS__URL=nats"
      - "SI_SDF__FAKTORY=tcp://faktory:7419"
      - "OTEL_EXPORTER_OTLP_ENDPOINT=http://otelcol:4317"
    extra_hosts:
      - "postgres:${GATEWAY:-I like my butt}"
      - "nats:${GATEWAY:-I like my butt}"
      - "otelcol:${GATEWAY:-I like my butt}"
      - "faktory:${GATEWAY:-I like my butt}"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    depends_on:
      - watchtower
      - pg
      - faktory
      - otel
      - nats
    restart: "unless-stopped"

  veritech:
    image: "index.docker.io/systeminit/veritech:stable"
    environment:
      - "SI_VERITECH__NATS__URL=nats"
      - "OTEL_EXPORTER_OTLP_ENDPOINT=http://otelcol:4317"
    extra_hosts:
      - "nats:${GATEWAY:-I like my butt}"
      - "otelcol:${GATEWAY:-I like my butt}"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    depends_on:
      - watchtower
      - otel
      - nats
    restart: "unless-stopped"

      #pinga:
      #  image: "index.docker.io/systeminit/pinga:stable"
      #  environment:
      #    - "SI_SDF__PG__HOSTNAME=postgres"
      #    - "SI_SDF__NATS__URL=nats"
      #    - "SI_SDF__FAKTORY=tcp://faktory:7419"
      #    - "OTEL_EXPORTER_OTLP_ENDPOINT=http://otelcol:4317"
      #  extra_hosts:
      #    - "postgres:${GATEWAY:-I like my butt}"
      #    - "nats:${GATEWAY:-I like my butt}"
      #    - "otelcol:${GATEWAY:-I like my butt}"
      #    - "faktory:${GATEWAY:-I like my butt}"
      #  labels:
      #    - "com.centurylinklabs.watchtower.enable=true"
      #  depends_on:
      #    - watchtower
      #    - pg
      #    - faktory
      #    - otel
      #    - nats
      #  restart: "unless-stopped"

  pg:
    image: "index.docker.io/systeminit/postgres:stable"
    command: "-c log_error_verbosity=VERBOSE \
      -c log_statement=all \
      -c shared_buffers=4GB \
      -c wal_buffers=64MB \
      -c effective_cache_size=32GB"
    environment:
      - "POSTGRES_PASSWORD=bugbear"
      - "PGPASSWORD=bugbear"
      - "POSTGRES_USER=si"
      - "POSTGRES_DB=si"
      - "POSTGRES_MULTIPLE_DBS=si_test"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    ports:
      - "5432:5432"
    depends_on:
      - watchtower

  faktory:
    image: "index.docker.io/contribsys/faktory:latest"
    ports:
      - "7419:7419"
      - "7420:7420"

  nats:
    image: "index.docker.io/systeminit/nats:stable"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    ports:
      - "4222:4222"
    depends_on:
      - watchtower

  otel:
    image: "index.docker.io/systeminit/otelcol:stable"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    ports:
      - "4317:4317"
      - "55679:55679"
    depends_on:
      - watchtower

  # NOTE(nick): watchtower requires full image names for private registries, which include prefixes like "index.docker.io".
  watchtower:
    image: "containrrr/watchtower"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "${DOCKER_CONFIG:-~/.docker/config}:/config.json:ro"
    command: --interval 30 --label-enable
