name: Weekly Update of CF Schemas

on:
  schedule:
    # weekly
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update-schemas:
    runs-on: ubuntu-latest
    env:
      SI_BEARER_TOKEN: ${{ secrets.SI_BEARER_TOKEN }}
      SI_MODULE_INDEX_URL: "https://module-index.systeminit.com"
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2

      - name: Update Schemas
        run: |
          cd bin/clover
          LOG_LEVEL=debug deno task run fetch-schema --provider=aws
          LOG_LEVEL=debug deno task run infer-ai --provider=aws
          LOG_LEVEL=debug deno task run fetch-schema --provider=hetzner
          # Update Azure submodule to latest and fetch schema
          cd ../..
          git submodule update --remote bin/clover/src/provider-schemas/azure-rest-api-specs
          cd bin/clover
          LOG_LEVEL=debug deno task run fetch-schema --provider=azure

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.SYSTEMINIT_BOT_TOKEN }}
          commit-message: clover schema update
          title: "chore: clover schema update"
          body: "Update for clover schemas. Check the diff comment to understand what has changed."
