name: ci
on:
  push:
    branches:
      - staging
      - trying
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    timeout-minutes: 20
    name: Pull Request Checks
    runs-on: self-hosted
    steps:
      - name: Git Checkout
        uses: actions/checkout@v2
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: CI (1/3) [rust-lint]
        run: ( source /data/runners/.profile; cd ci; make ci-rust-lint )
      - name: NPM Install
        run: ( source /data/runners/.profile; cd app/web; npm install )
      - name: CI (2/3) [web-lint]
        run: ( source /data/runners/.profile; cd ci; make ci-web-lint )
      - name: Login Docker
        id: login
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9 # pin@v1.10.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: CI (3/3) [si]
        run: ( source /data/runners/.profile; cd ci; make ci-si )
        env:
          HONEYCOMB_TOKEN: ${{ secrets.HONEYCOMB_TOKEN }}
