name: Soak Test
on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        required: true
        description: "where to test"
        default: "tools"
        options:
          - tools
          - production
      executors:
        type: number
        required: true
        description: "Number of instances of all tests to run"
        default: 1
      maxDuration:
        type: number
        required: true
        description: "How long to test for in seconds"
        default: 10
      rate:
        type: number
        required: true
        description: "Time between tests in milliseconds"
        default: 1000
      test:
        type: choice
        required: true
        description: "Which test to run"
        options:
          - create_two_components_connect_and_propagate
          - create_and_delete_component
          - create_and_use_variant
      useJitter:
        type: boolean
        required: true
        description: "Insert random time of 0-1 seconds between test runs"
        default: true

env:
  DENO_DIR: bin/si-api-test

jobs:
  define-test-matrix:
    runs-on: ubuntu-latest
    outputs:
      executors: ${{ steps.executors.outputs.executors }}
    steps:
      - id: executors
        run: |
          echo "executors=$(jq -nc '[range(0; $num)]' --argjson num ${{ inputs.executors }})" >> "$GITHUB_OUTPUT"

  login:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    outputs:
      token: ${{ steps.token.outputs.token }}
    steps:
      - id: token
        run: |
          # getting and encrypting an access token so it can be safely passed
          # without spamming auth0
          token=$(curl -X POST "${{ vars.AUTH_API_URL }}/auth/login" \
                  -H "Content-Type: application/json" \
                  -d '{"email": "${{ secrets.API_TEST_EMAIL }}", "password": "${{ secrets.API_TEST_PASSWORD }}", "workspaceId": "${{ vars.API_TEST_WORKSPACE_ID }}" }' \
                  | jq -r '.token' \
                  | openssl enc -aes-256-cbc -pbkdf2 -salt -k "${{ secrets.ENCRYPTION_PASSWORD }}" \
                  | base64 -w0)
          if [[ -z "$token" || "$token" == "null" ]]; then
            echo "Error: Failed to retrieve token."
            exit 1
          fi
          echo "token=$token" >> "$GITHUB_OUTPUT"

  start-marker:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - run: |
          curl https://api.honeycomb.io/1/markers/sdf -X POST \
              -H "X-Honeycomb-Team: ${{ secrets.HONEYCOMB_API_KEY }}" \
             -d '{"message":" '"Beginning soak test in ${{ inputs.environment }}."' ", "type":"soak-test-start"}'

  api-test:
    name: API Test SDF
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    needs:
      - define-test-matrix
      - login
      - start-marker
    strategy:
      # don't fail the entire matrix on failure
      fail-fast: false
      matrix:
        tests: ${{ fromJSON(needs.define-test-matrix.outputs.executors) }}
    env:
      SDF_API_URL: ${{ vars.SDF_API_URL }}
      AUTH_API_URL: ${{ vars.AUTH_API_URL }}
    steps:
      - uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Cache Deno dependencies
        uses: actions/cache@v4
        with:
          path: ${{ env.DENO_DIR }}
          key: ${{ hashFiles('./bin/si-api-test/*') }}

      - name: Run the deno exec
        working-directory: bin/si-api-test
        run: |
          TOKEN=$(echo "${{ needs.login.outputs.token }}" \
          | base64 -d \
          | openssl enc -aes-256-cbc -pbkdf2 -d -salt -k "${{ secrets.ENCRYPTION_PASSWORD }}")

          deno task run \
          --workspaceId "${{ vars.API_TEST_WORKSPACE_ID }}" \
          --token "$TOKEN" \
          --tests "${{ inputs.test }}" \
          --profile '{"maxDuration":${{ inputs.maxDuration }}, "rate": ${{ inputs.rate }}, "useJitter": ${{ inputs.useJitter }} }'

  stop-marker:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    needs: api-test
    if: always()
    steps:
      - run: |
          curl https://api.honeycomb.io/1/markers/sdf -X POST \
              -H "X-Honeycomb-Team: ${{ secrets.HONEYCOMB_API_KEY }}" \
             -d '{"message":" '"Completing soak test in ${{ inputs.environment }}."' ", "type":"soak-test-stop"}'
